.header{
    color: rgb(245, 235, 235);
}

.headcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('./Headerback.jpg');
    background-position: center;
    width: 100%;
    background-size: cover;

}

